<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cart.css' %}" />
    <title>USM Bookstore</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'store:home' %}">USM Online Bookstore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Books
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'store:books' 'all' %}">All Books</a>
              <div class="dropdown-divider"></div>
              {% load tags %}
              {% genres as genre_list %}
              {% for genre in genre_list %}
                  {% if genre in request.path %}
                  <a class="dropdown-item active" href="{% url 'store:books' genre %}">{{genre|title}}</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'store:books' genre %}">{{genre|title}}</a>
                  {% endif %}
              {% endfor %}              
            </div>
          </li>
          
          {% if "/account/home" == request.path %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
          {% if user.is_authenticated %}
            <a class="nav-link ml-auto" href="{% url 'account:home' %}">Account</a>
          {% endif %}

          </li>


        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          {% if not user.is_authenticated %}
          
          {% if "/account/login" == request.path %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{% url 'account:login' %}">Login</a>
          </li>
          {% if "/account/register" == request.path %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{% url 'account:register' %}">Register</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:edit_profile' %}">Edit Profile</a>
          </li>     
          {% endif %}
          {% if '/store/view_cart' == request.path %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
          {% load store_tag %}
            <a class="nav-link" href="{% url 'store:cart_page' %}">Cart{% cart_count request %}</a>
          </li>    
        </ul>
      </div>
    </nav>

    <br/>
    <div class='container'>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert dismissable" role="alert">
            <button class="close" data-dismiss="alert">
              <small><sup>x</sup></small>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}        
    </div>
</body>
<br/>

  
</html>
