{% extends 'account/base.html' %}

{% block content %}
<h2 class="text-center">Recommendation Manual For our Online Bookstore System</h2>
<br>
<h4>What did we use?</h4>
<p>In our Online Bookstore System, we've developed using Django web framework where we've integrated the recommendation system. For recommendation techniques, we've used</p>
<ul>
    <li>Market Basket Analysis</li>
    <li>Collaborative Filtering System</li>
</ul>

<hr>
<h4>Market Basket Analysis</h4>

<hr>
<h4>Collaborative Filtering System</h4>

<br>
<h6>Item-To-Item Collaborative Filtering</h6>

<br>
<h6>User-To-User Collaborative Filtering</h6>

{% endblock %}