{% extends 'account/base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    
    <h1 class="text-center">Login</h1>
    <form method="POST">
        {% csrf_token %}
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Username</label> -->
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Username" name = "username">
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputPassword1">Password</label> -->
        <input type="password" class="form-control" placeholder="Enter Password" id="exampleInputPassword1" name="password">
      </div>
      <button type="submit" class="btn btn-secondary btn-block">Submit</button>
    </form>
    <br/>
    <p class="text-center"><small><a href="{% url 'account:register' %}">New User?</a> Please Register</small></p>
</div>
<br>
<br>
<div>
  <h5>To see User-to-User recommendation results, please use given user accounts</h5>
  <ol>
    <li>
      <p><b>username: </b>ac5b887c1d04bbfe9bbc8ce4b8f968be</p>
      <p><b>password: </b>usertousertesting</p>
    </li>
    <li>
      <p><b>username: </b>7b2a80e516033af7b8f1a11d29067f4e</p>
      <p><b>password: </b>usertousertesting</p>
    </li>
  </ol>
  
</div>

{% endblock %}